    @import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;400&display=swap");
    * {
        box-sizing: border-box;
        font-family: "Mukta", sans-serif;
    }
    
    a {
        color: #b347d8;
    }
    /* 
Task 1: Use the mobile-first approach to:

- Have 2 columns when the screen is wider than 640px and narrower than 768px
- Have 3 columns and 60px gap when the screen is wider than 768px and narrower than 1024px
- Have 4 columns and 80px gap when the screen is wider than 1024px
- Change h1 font-size to be 40px (from 24px) and p font-size to be 18px (from 16px) when the screen is wider than 768px

Task 2: Delete media queries in task 1 and use the desktop-first approach to have the same result

Task 3: Show the navigation on the top of the page instead of on the left when the user is on the portrait view

Task 4: 
- Have the top navigation only if the screen is narrower than 640px.
- Change the font size of the icons to be 24px and navigation width to be 64px if the screen is wider than 768px or on the landscape view */
    
    main {
        overflow-y: scroll;
        height: 100vh;
        padding: 40px;
    }
    
    body {
        margin: 0;
        display: grid;
        grid-template-rows: 50px 1fr;
        color: #333;
        max-height: 100vh;
        overflow: hidden;
    }
    
    h1 {
        margin-top: 0;
        display: inline-block;
        font-size: 24px;
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 12px;
        text-shadow: 5px 5px 5px rgb(194, 72, 188);
        font-family: 'Caveat', cursive;
    }
    
    h2 {
        margin-top: 0;
        font-size: 24px;
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 12px;
        text-shadow: 0px 3px 2px rgb(233, 63, 20);
        font-family: 'Lexend Deca', sans-serif;
    }
    
    p {
        margin: 0;
        font-size: 16px;
        color: #434343;
        font-weight: 300;
        font-family: 'Caveat', cursive;
    }
    
    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-right: 1px solid #dbdce1;
        border-bottom: 2px dashed #201dbd;
    }
    
    nav .material-icons {
        text-decoration: none;
        color: #9aa6b1;
        display: block;
        padding: 16px 0;
        font-size: 18px;
        cursor: pointer;
    }
    
    .material-icons.navigation__item--active {
        color: #b347d8;
    }
    
    img {
        width: 100%;
        border-radius: 26px;
        box-shadow: 0 3px 10px green;
    }
    
    .collection-grid {
        margin-top: 32px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
        align-items: center;
    }
    
    nav a {
        text-decoration: none;
        margin-right: 24px;
    }
    
    nav a:hover {
        color: blueviolet;
        text-decoration: underline;
    }
    
    @media (min-width:640px) {
        .collection-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
    @media (min-width:768px) {
        .collection-grid {
            grid-template-columns: repeat(3, 1fr);
            gap: 60px;
        }
        h1 {
            font-size: 40px;
        }
        p {
            font-size: 18px;
        }
    }
    
    @media (min-width:1024px) {
        .collection-grid {
            grid-template-columns: repeat(4, 1fr);
            grid-area: 80px;
        }
    }